name: Deploy to Maven Central 

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          server-id: central
          server-username: ${{ secrets.CENTRAL_USERNAME }}
          server-password: ${{ secrets.CENTRAL_PASSWORD }}

      - name: Import GPG private key
        run: |
          echo "$GPG_PRIVATE_KEY" | gpg --batch --import --yes
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: Configure GPG
        run: |
          echo "pinentry-mode loopback" > ~/.gnupg/gpg.conf
          echo "default-key ${GPG_KEY_ID}" >> ~/.gnupg/gpg.conf
          chmod 600 ~/.gnupg/gpg.conf
        env:
          GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}

      - name: Build and Deploy
        run: mvn -B clean deploy -P release
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
